body {
  margin: 0;
  font-family: sans-serif;
  background: #f9f9f9;
  text-align: center;
  padding: 50px 0;
}
h1, footer {
  position: fixed;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
}
h1 {
  top: 0;
  background: #E10600;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 1.4rem;
}
#ar-button {
  margin: 100px auto 20px;
  max-width: 600px;
  width: 100vw;
}
#ar-button img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
  display: block;
}
#ar-button img:hover {
  transform: scale(1.05);
}
.fallback {
  color:
